%table{style: 'margin-left:30px'}
  %tr
    %th Tracked?
    %th Acquired?
    %th Read?
    %th Issue
    %th Pub. date
  - issues.each do |issue|
    - next unless issue.variant_of_id.nil?
    = render partial: 'issues/issue_row', locals: {issue: issue, is_next_to_read: is_next_to_read}

:javascript
  $(document).ready(function() {
    $('.dyn_checkbox').unbind('ajax:success')
        .bind("ajax:success", function(evt, xhr, settings) {$(this).parent().append('<span id="fademe" class="ajax_success">saved!</span>'); $('#fademe').fadeOut(2000); });
    $('.dyn_checkbox').unbind('ajax:error')
        .bind("ajax:error", function(evt, xhr, settings) { $(this).parent().append('<span id="fademe" class="ajax_error">error! :(</span>'); $('#fademe').fadeOut(5000);});
  });
