%h2 Series tracked
You are currently tracking the following series:
- if @user.tracked_series.nil?
  %p
    %em Absolutely none! :)
- else
  != render(:partial => "series/list", :locals => {:series_list => @user.tracked_series })

To track another series, enter a word to search for: 
= form_tag series_search_path, method: 'get' do
  = text_field_tag :q, nil, placeholder: 'Search'
