.container-fluid
  .row
    #title{style: 'margin:auto'}
      %h1
        %b The Methodic Comic
  %hr
  - if @user.nil?
    .row
      .col-md-12
        %h2 Track your comic book reading against the Grand Comics Database!
        %p The service lets you track series and individual issues and mark acquisition and reading progress at the level of the individual issue.
        %p Additional features may be added according to user requests.
        %h3 Please log in above (Google ID required, for now)
        %p Google's service is used out of laziness only; your e-mail or name are not actually used anywhere, and will never be given out.  This service will forever remain completely free, without ads.
  - else
    != render(:partial => "dashboard")
