%h1 Series Search Results
%p These are series names matching your search:
%ol
  - @matches.each do |series|
    %li
      = link_to series.name, series_view_path(series.id)
      = " [#{series.issue_count} issues]"

