.container-fluid
  %h1 Series Search Results
  %p These are series names matching your search, by number of issues:
  != render(:partial => "list", :locals => {:series_list => @matches })

  != paginate @matches


